body {
  margin: 0;
  font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
  background: #fafafa;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
